body {
  margin: 20px;
}

/* 배경 스타일링 */
/* body {
  /* background-color: #ffc;
  background-image: url('/src/assets/images/sun.png'), url(/src/assets/images/cloud.png);
  background-repeat: no-repeat;
  background-size:
    100px 100px,
    200px 150px;
  background-position: 50% 30%; /* x축 y축 */
/* 이미지는 선언 한 순서대로 보임(구름이 햇빛에 가려지는 이유) */
/* background-attachment: fixed; */

/* background 속성으로 축약해서 표현하기 */
body {
  background:
    url('/src/assets/images/sun.png') no-repeat 50% 30%/100px 100px fixed,
    url('/src/assets/images/cloud.png') no-repeat 50% 30%/200px 150px fixed,
    #ffc;
  /* 색낄을 마지막에 깔아 줘야 결과에 색이 나옴(마지막을 선언하니깐) */
}
