body {
  margin: 20px;
}

/* body 배경색상 */
/* body {
  background: yellow;
}

@media all and (min-width: 600px) {
  body {
    background: pink;
  }

  @media all and (min-width: 800px) {
    body {
      background: aqua;
    }
  }
} */

/* 중첩 사용해서 미디어 쿼리 사용 */
body {
  background: yellow;

  @media (min-width: 600px) {
    background: pink;
  }

  @media (min-width: 800px) {
    background: aqua;
  }
}
